.about__container {
  padding: 6rem 1.5rem;
  max-width: 1440px;
  margin: 0 auto;
}

.about__image img {
  width: 100%;
  object-fit: cover;
}

.about__text {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 3rem 1rem 0;
}

.about__text h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.about__text p {
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 55%);
  line-height: 1.6rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .about__container {
    padding: 6rem 14%;
    position: relative;
    margin: 0 auto;
  }
  .about__image img {
    width: 60%;
  }
  .about__text {
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 45%;
    right: 5%;
    text-align: left;
    padding: 1rem 4rem 1rem 1rem;
  }
  .about__text h2 {
    font-size: 2rem;
  }
  .about__text p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .about__container {
    padding: 6rem 10%;
  }

  .about__text {
    padding: 4rem;
  }
}
@media screen and (min-width: 1440px) {
  .about__container {
    padding: 6rem 11%;
    max-width: 1112px;
  }

  .about__text {
    padding: 4rem 11% 4rem 4rem;
    right: 0;
  }
  .about__text h2 {
    font-size: 3rem;
  }
  .about__text p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
